.button{
  background-color: dodgerblue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  padding: $s-size;
  text-align: center;
  text-decoration: none;
  line-height: 1;
}
.button--link{
  background: none;
}
.button--remove{
  background: #888888;
}

.button--modal{
  min-width: 100px;
}